{{>header.mustache}}
<div class="container">
{{#Customer}}
	<div class="row">
		<div class="span16">
			<h2>{{Name}}</h2>
{{#Orders}}
			<h3>{{OrderName}}</h3>
			<p><a class="btn" href="/order/?id={{OrderId}}">View Order</a></p>
			<p><a class="btn" href="/customer/paid/?order={{OrderId}}&customer={{Id}}">Mark As Paid</a></p>
			<table class="zebra-striped">
{{#Lines}}
				<tr>
					<td>{{Name}}</td>
					<td>{{Quantity}}</td>
					<td>${{Price}}</td>
					<td>{{Paid}}</td>
				</tr>
{{/Lines}}
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>${{Total}}</td>
				<td>&nbsp;</td>
			</tr>
			</table>
{{/Orders}}
		</div>
	</div>
{{/Customer}}
	<footer>
		<p>&copy; Company 2011</p>
	</footer>
</div>
{{>footer.mustache}}