<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Order Manager</title>
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<!-- Le styles -->

		<link href="/static/bootstrap/bootstrap.css" rel="stylesheet">
		<style type="text/css">
			body { padding-top: 60px; }
    	</style>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
		<script src="/static/bootstrap/js/bootstrap-modal.js"></script>
		<!-- <script src="/static/app.js"></script> -->
	</head>
	<body>

		<div class="topbar">
			<div class="topbar-inner">
				<div class="container-fluid">
					<a class="brand" href="/">Order Manager</a>
					<ul class="nav">
						<li class="active"><a href="/">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
					<!-- <p class="pull-right">Logged in as <a href="#">username</a></p> -->
				</div>
			</div>
		</div>
