{{>header.mustache}}
		<div class="container-fluid">
			<div class="sidebar">
				<div class="well">
					<h5>Past Orders</h5>
					<ul>
{{#Orders}}
						<li><a href="/order?id={{Id}}">{{Name}}</a></li>
{{/Orders}}
					</ul>
					<p><a class="btn" href="/order/create">Create Order</a></p>
				</div>
			</div>
			<div class="content">
				{{#LastOrder}}
				{{>order_fragment.html}}
				{{/LastOrder}}
				{{^LastOrder}}
				<div class="row">
					<div class="span5">
						<p><em>There are no recent orders to display.</em></p>
					</div>
				</div>
				{{/LastOrder}}
				<footer>
					<p>&copy; Nick Gerakines 2011</p>
				</footer>
			</div>
		</div>
{{>footer.mustache}}
