<div id="customerModal" class="modal hide fade">
	<div class="modal-header">
		<a href="#" class="close">&times;</a>
		<h3>Add Customer</h3>
	</div>
	<div class="modal-body">
		<form method="POST" id="createCustomerForm" action="/customer/create">
			<input type="hidden" name="order" value="{{Id}}">
			<div class="clearfix">
				<label for="CustomerNameField">Name</label>
				<div class="input">
					<input class="xlarge" id="CustomerNameField" name="name" size="30" type="text" />
				</div>
			</div>
			<div class="clearfix">
				<label for="CustomerEmailField">Email</label>
				<div class="input">
					<input class="xlarge" id="CustomerEmailField" name="email" size="30" type="text" />
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<a id="createCustomerFormSubmit" href="#" class="btn primary">Primary</a>
	</div>
</div>
<div id="eventModal" class="modal hide fade">
	<div class="modal-header">
		<a href="#" class="close">&times;</a>
		<h3>Add Event</h3>
	</div>
	<div class="modal-body">
		<form method="POST" id="createEventForm" action="/event/create">
			<input type="hidden" name="order" value="{{Id}}">
			<div class="clearfix">
				<label for="companyFieldField">Company</label>
				<div class="input">
					<select name="name" id="companyFieldField">
						<option>Poll Opened</option>
						<option>Poll Closed</option>
						<option>Order period opened</option>
						<option>Order period closed</option>
						<option>Order sent</option>
						<option>Order received</option>
					</select>
				</div>
			</div>
			<div class="clearfix">
				<label for="EventValueField">Value</label>
				<div class="input">
					<input class="xlarge" id="EventValueField" name="value" size="30" type="text" />
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<a id="createEventFormSubmit" href="#" class="btn primary">Primary</a>
	</div>
</div>
<div id="lineModal" class="modal hide fade">
	<div class="modal-header">
		<a href="#" class="close">&times;</a>
		<h3>Add Line</h3>
	</div>
	<div class="modal-body">
		<form method="POST" id="createLineForm" action="/line/create">
			<input type="hidden" name="order" value="{{Id}}">
			<div class="clearfix">
				<label for="CustomerField">Company</label>
				<div class="input">
					<select name="customer" id="CustomerField">
{{#Customers}}
						<option value="{{Id}}">{{>customer_widget.html}}</option>
{{/Customers}}
					</select>
				</div>
			</div>
			<div class="clearfix">
				<label for="LineNameField">Name</label>
				<div class="input">
					<input class="xlarge" id="LineNameField" name="name" size="30" type="text" />
				</div>
			</div>
			<div class="clearfix">
				<label for="LineQuantityField">Quantity</label>
				<div class="input">
					<input class="xlarge" id="LineQuantityField" name="quantity" size="30" type="text" />
				</div>
			</div>
			<div class="clearfix">
				<label for="LinePriceField">Price</label>
				<div class="input">
					<input class="xlarge" id="LinePriceField" name="price" size="30" type="text" />
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<a id="createLineFormSubmit" href="#" class="btn primary">Primary</a>
	</div>
</div>
	<div class="page-header">
		<h1>{{Name}}</h1>
	</div>
	<div class="row">
		<div class="span5">
			<p>
				<address>
			{{#Company}}
				<strong>{{Name}}</strong><br />
			{{#AddressLines}}
				{{.}}<br/>
			{{/AddressLines}}
				<abbr title="Phone">P:</abbr> {{Phone}}<br/>
				<a href="{{Url}}">{{Url}}</a>
			{{/Company}}
			</address>
		</p>
		</div>
		<div class="span8">
			<table class="zebra-striped">
{{#Events}}
				<tr>
					<td>{{Name}}</td>
					<td>{{Value}}</td>
				</tr>
{{/Events}}
			</table>
			<p><span id="addEventLink">Create Event</span></p>
		</div>
	</div>
	<hr />

	<!-- Example row of columns -->
	<div class="row">
		<div class="span16">
			<h2>Participants</h2>
			<ul>
{{#CustomerSummary}}
				<li><a href="#">{{>customer_widget.html}}</a> ${{Total}}</li>
{{/CustomerSummary}}
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="span16">
			<h2>Lines</h2>
			<p><a href="#" id="addCustomerLink">Add Customer</a> | <a href="#" id="addLineLink">Add Line</a></p>
			<table class="zebra-striped">
{{#Lines}}
				<tr>
					<td>{{#Customer}}{{>customer_widget.html}}{{/Customer}}</td>
					<td>{{Name}}</td>
					<td>{{Quantity}}</td>
					<td>${{Price}}</td>
				</tr>
{{/Lines}}
			</table>
		</div>
	</div>
	<div class="row">
		<div class="span16">
			<h2>Line Summary</h2>
			<table class="zebra-striped">
{{#LineSummary}}
				<tr>
					<td>{{Name}}</td>
					<td>{{Quantity}}</td>
					<td>${{Price}}</td>
				</tr>
{{/LineSummary}}
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>${{Total}}</td>
				</tr>
			</table>
		</div>
	</div>
<script language="JavaScript" type="text/javascript">
$(document).ready(function(){
	$('#eventModal').modal({ })
	$('#lineModal').modal({ })
	$('#customerModal').modal({ })

	$('#addEventLink').click(function() {
		$('#eventModal').modal('show')
	});

	$('#createEventFormSubmit').click(function() {
	  $('#createEventForm').submit();
	});

	$('#addLineLink').click(function() {
		$('#lineModal').modal('show')
	});

	$('#createLineFormSubmit').click(function() {
	  $('#createLineForm').submit();
	});

	$('#addCustomerLink').click(function() {
		$('#customerModal').modal('show')
	});

	$('#createCustomerFormSubmit').click(function() {
	  $('#createCustomerForm').submit();
	});
});
</script>